<launch>
  <rosparam ns="models">
    ['block']
  </rosparam>
  <group ns="model_uris">
    <param name="block" value="package://object_models/models/cgdb/robert_data_unique/block.vtk" />
  </group>
  <group ns="stl_uris">
    <param name="block" value="package://object_models/models/cgdb/robert_data_unique/block.vtk.stl" />
  </group>
</launch>