<launch>

    <arg name="x_filter_min" value="0.1" />
    <arg name="y_filter_min" value="-0.6" />
    <arg name="z_filter_min" value="0.1" />
    <arg name="x_filter_max" value="0.45" />
    <arg name="y_filter_max" value="-0.2" />
    <arg name="z_filter_max" value="0.3" />

    <arg name="use_kinect_hw" />

    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" if="$(arg use_kinect_hw)" >
        <arg name="depth_method" value="opencl" />
        <arg name="publish_tf" value="true" />
        <arg name="max_depth" value="3.0" />
        <arg name="fps_limit" value="5" />
        <arg name="calib_path" value="$(find launcher)/data/" />
    </include>

    <node pkg="filter_tf" type="filter_tf.py" name="filter_tf_marker8_kinect2" args="/ar_marker_8 /kinect2_link 10 --destination_name /world"/>

    <node name="ar_track_alvar_kinectone" pkg="ar_track_alvar" type="individualMarkers" respawn="false" output="screen">
        <param name="marker_size"           type="double" value="6.0" />
        <param name="max_new_marker_error"  type="double" value="0.08" />
        <param name="max_track_error"       type="double" value="0.0" />
        <param name="output_frame"          type="string" value="/kinect2_rgb_optical_frame" />

        <remap from="camera_image"  to="/kinect2/hd/points" />
        <remap from="camera_info"   to="/kinect2/hd/camera_info" />
    </node>

    <group ns="objrec_node">
        <node pkg="objrec_ros_integration" type="objrec_blocks" name="objrec_blocks" respawn="true" />
        <param name="x_clip_min" value="$(arg x_filter_min)"/>
        <param name="y_clip_min" value="$(arg y_filter_min)"/>
        <param name="z_clip_min" value="$(arg z_filter_min)"/>
        <param name="x_clip_max" value="$(arg x_filter_max)"/>
        <param name="y_clip_max" value="$(arg y_filter_max)"/>
        <param name="z_clip_max" value="$(arg z_filter_max)"/>
        <include file="$(find objrec_ros_integration)/launch/models.launch"/>
    </group>
</launch>
