<launch>

    <arg name="x_filter_min" value="0.1" />
    <arg name="y_filter_min" value="-0.6" />
    <arg name="z_filter_min" value="0.1" />
    <arg name="x_filter_max" value="0.45" />
    <arg name="y_filter_max" value="-0.2" />
    <arg name="z_filter_max" value="0.3" />

    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
        <arg name="depth_method" value="opencl" />
        <arg name="publish_tf" value="true" />
        <arg name="max_depth" value="3.0" />
        <arg name="fps_limit" value="5" />
        <arg name="calib_path" value="$(find launcher)/data/" />
    </include>
<!--     <group ns="pc_filter">
        <param name="xpassthrough/filter_limit_min" value="$(arg x_filter_min)" />
        <param name="ypassthrough/filter_limit_min" value="$(arg y_filter_min)" />
        <param name="zpassthrough/filter_limit_min" value="$(arg z_filter_min)" />
        <param name="xpassthrough/filter_limit_max" value="$(arg x_filter_max)" />
        <param name="ypassthrough/filter_limit_max" value="$(arg y_filter_max)" />
        <param name="zpassthrough/filter_limit_max" value="$(arg z_filter_max)" />

        <param name="observed_frame_id" value="/kinect2_rgb_optical_frame" />
        <param name="filtered_frame_id" value="/world" />
        <param name="input_pc_topic" value="/kinect2/hd/points" />
        <param name="output_pc_topic" value="/filtered_pc_kinectone" />

        <node name="pc_filter_mico_kinectone" pkg="pc_filter" type="pc_filter" output="screen"/>
    </group> -->
    <group ns="filter_tf_mico_kinectone">
        <param name="observed_frame" value="/ar_marker_8" />
        <param name="filtered_frame" value="/world" />
        <param name="local_frame" value="/kinect2_link" />

        <node name="filter_tf_kinectone" pkg="filter_tf" type="filter_tf.py" respawn="false"/>
    </group>
    <node name="ar_track_alvar_kinectone" pkg="ar_track_alvar" type="individualMarkers" respawn="false" output="screen">
        <param name="marker_size"           type="double" value="6.0" />
        <param name="max_new_marker_error"  type="double" value="0.08" />
        <param name="max_track_error"       type="double" value="0.0" />
        <param name="output_frame"          type="string" value="/kinect2_rgb_optical_frame" />

        <remap from="camera_image"  to="/kinect2/hd/points" />
        <remap from="camera_info"   to="/kinect2/hd/camera_info" />
    </node>

    <group ns="objrec_node">
        <node pkg="objrec_ros_integration" type="objrec_blocks" name="objrec_blocks" respawn="true" />
        <param name="x_clip_min" value="$(arg x_filter_min)"/>
        <param name="y_clip_min" value="$(arg y_filter_min)"/>
        <param name="z_clip_min" value="$(arg z_filter_min)"/>
        <param name="x_clip_max" value="$(arg x_filter_max)"/>
        <param name="y_clip_max" value="$(arg y_filter_max)"/>
        <param name="z_clip_max" value="$(arg z_filter_max)"/>
        <include file="$(find objrec_ros_integration)/launch/models.launch"/>
    </group>
</launch>
